<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- materialize --}}
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!--ck editor  -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.16.2/ckeditor.js"
      integrity="sha512-bGYUkjDyyOMGm3ASzq3zRaWZ4CONNH1wAYMFch/Z0ASZrsg722SeRsX0FPPRZjTuJrqIMbB9fvY0LEMzyHeyeQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    {{!-- font awesome --}}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- since we set the public static folder in app.js we can just put css/style.css -->
    <link rel="stylesheet" href="/css/style.css" />
    <title>Talebook</title>
  </head>
  <body>
    {{!-- insert partial --}} {{> _header}} {{> _add_btn}}

    <!-- what ever view we are looking at pass the body -->
    <div class="container">
      {{{body}}}
    </div>
    <!-- materialize Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
      M.Sidenav.init(document.querySelector('.sidenav'))
      M.FormSelect.init(document.querySelector('#status'))

      //textarea has a name of 'body'
      CKEDITOR.replace('body', {
        plugins: 'wysiwygarea, toolbar,basicstyles, link'
      })
    </script>
  </body>
</html>
