<h3><i class="fas fa-book"></i> Talebook</h3>
<div class="section">
  <p class="lead">Create and share public/private stories from your life</p>
</div>

<div class="divider"></div>

<div class="section">
  <a href="/auth/google" class="btn red darken-1">
    {{!-- The new default is the fas solid style and the fab style for brands.
    --}}
    <i class="fab fa-google left"></i>Log In With Google</a
  >
</div>
